body * {
  font: 20px "Gloria Hallelujah", cursive;
}

ol, ul {
  padding-left: 30px;
}

button {
  cursor: pointer;
  outline: none;
}

li button {
  border: none;
  margin: 2px auto;
}

li button:hover {
  letter-spacing: 2px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #eadedb;
  border: none;
  float: left;
  font-size: 35px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin: 3px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.highlight {
  background-color: #F7786B;
}